<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nmon</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="navbar-heading">
            <div class="navbar-brand"><a href="#">PerfTestFlat</a></div>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="./">Home</a></li>
            <li><a href="./wrk">Wrk</a></li>
            <li class="active"><a href="./Nmon">Nmon</a></li>
            <li><a href="./report">Report</a></li>
        </ul>
    </nav>
</div>

</body>
</html>
